{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage"
        }
      ]
    ],
    "compact": false,
    "plugins": ["@babel/plugin-syntax-dynamic-import"]
  }
