#test[data-v-426e470c] {
  color: blue;
}
#test span[data-v-426e470c] {
    color: gray;
}

.container[data-v-02476644] {
  padding-top: 50px;
}
.mu-card-header[data-v-02476644] {
  background: #3f51b5;
}
.mu-card-header .mu-card-title[data-v-02476644] {
    color: #fff;
}
.mu-card-header .mu-card-sub-title[data-v-02476644] {
    color: #fff;
}

.container[data-v-1d7d5eea] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 80px);
}
.container .mu-card[data-v-1d7d5eea] {
    text-align: center;
}
.container .mu-card .mu-card-title[data-v-1d7d5eea] {
      text-align: center;
}
.container .mu-card .mu-card-actions .register[data-v-1d7d5eea] {
      text-decoration: underline;
      color: #888;
      cursor: pointer;
}

.container[data-v-1e68ce55] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 80px);
}
.container .mu-card[data-v-1e68ce55] {
    text-align: center;
}
.container .mu-card .mu-card-title[data-v-1e68ce55] {
      text-align: center;
}
.container .mu-card .mu-card-actions .register[data-v-1e68ce55] {
      text-decoration: underline;
      color: #888;
      cursor: pointer;
}

